.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #3b2e3a,#240757,#a78973 );
  
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
 
}
.auth-form-container h2{
  text-align: Left;
  padding-bottom: 0.5rem;
  margin-bottom: 0rem;
}
.auth-form-container h5{
  text-align: Left;
}
.auth-form-container a{
  text-align: Left;
  text-decoration: none;
  margin: 0.7rem;
  color: rgb(218, 193, 193);
}
.auth-form-container li{
  list-style-type: none;
  text-align: Left;
  padding: 0;
}
@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}